*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --site-purple: RGB(149, 147, 230);
    --site-blue: rgb(50, 102, 161);
}
.debug{
    background-color: aquamarine;
}
.text-padding-bottom{
    padding-bottom: 3rem;
}
.text-padding-bottom-half{
    padding-bottom: 1.5rem;
}
.padding-top{
    padding-top: 3rem;
}
.padding-top-half{
    padding-top: 1.5rem;
}

.text-margin-bottom{
    margin-bottom: 3rem;
}
.img-center{
    margin: auto;
}
.w-100{
    width: 100%;
}
.width60{
    width: 90%;
}
.w-50{
    width: 50%;
}
.w-90{
    width: 90%;
}
.margin-auto{
    margin: auto;
}
.border-radius2{
    border-radius: 2rem;
}
.border-radius50{
    border-radius: 50%;
}
.section-padding-bottom{
    margin-bottom: 4rem;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.icon{
    padding: 1rem;
    display: inline-block;
    border-radius: 1rem;
    background-color: var(--site-purple);
    font-size: 2rem;
}
.icon-more{
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 2rem;
    background-color: var(--site-purple);
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
.icon-linkedin{
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 2rem;
    background-color: var(--site-purple);
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
.icon-linkedin::before{
    font-family: FontAwesome;
    content: '\f08c';
    color: white;
    margin-right: 0.5rem;
}
.text-italic{
    font-style: italic;
}
.flex{
    display: block;
    justify-content: space-around;
}
.bgwhite{
    background-color: white;
}
.color-white{
    color: white;
}
.flex-aboutus .no-bg{
    background-color: transparent;
}



body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    height: 6rem;
    background-color: var(--site-blue);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: auto;
}
/* header nav div{ 
    width: 200px;
    height: 70%;
}*/
.nav-div-info{
    display: flex;
    gap: 2rem;
    color: white;
    align-items: center;
    display: none;
}
.nav-div-info a{
    padding: 1rem;
    background-color: white;
    border-radius: 2rem;
}
.menu{
    color: white;
    font-size: 2rem;
}

.main-container{
    width: 60%;
    margin: auto;
    /* background-color: green; */
}

section{
    padding: 3rem 0;
}
.main-container-section{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.main-container-full-section{
    gap: 1rem;
    width: 60%;
    margin: auto;
}

.bigger-card{
    width: 100%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    background-color: rgb(135, 219, 252);
    border-radius: 2rem;
}
a.button{
    display: inline;
    text-align: center;
    padding: 1rem;
    background-color: aqua;
    border-radius: 2rem;
}
.bigger-card img,
.smaller-card img{
    margin: auto;
    display: block;
    width: 100%;
    margin-top: 3rem;
    /* background-color: green; */
}
.smaller-card{
    width: 100%;
    padding: 1.5rem;
    background-color: rgb(135, 219, 252);
    border-radius: 2rem;
    /* background-color: aquamarine; */
}
.big-icon{
    font-size: 6rem;
    color: var(--site-blue);
}
.smaller-card-h2{
    color: var(--site-blue);
}
.smaller-card-p{
    color: rgb(80, 80, 80);
    line-height: 160%;
}

.main-container-full{
    background-color: var(--site-purple);
}
.internal-card{
    padding: 1rem;
    background-color: white;
    border-radius: 1.5rem;
    align-self: flex-end;
}

.cards-block{
    background-color: var(--site-purple);
    border-radius: 3rem;
    color: white;
}
.container-cards-item{
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1.3rem;
}

.flex-aboutus{
    display: block;
    gap: 1rem;
}
#fix{
    text-align: left;
    margin: unset;
    width: 70%;
    border-radius: 4rem;
    padding-bottom: unset;
    margin-bottom: 3rem;
}
.quote{
    color: var(--site-purple);
}
.free{
    font-size: 4rem;
    color: orange;
}
.txt-dec-none_padding{
    text-decoration: none;
    padding: 1rem 3rem;
    color: var(--site-purple);
}

footer{
    color: white;
    background-color: rgb(83, 77, 77);
}
footer div{
    padding: 1.5rem;
    width: 60%;
    margin: auto;
}
footer div a{
    color: var(--site-purple);
}
footer div a::before{
    content: ' ';
}
footer div a::after{
    content: ' ';
}

/********** MEDIA **********/
@media screen and (min-width: 768px){
    .main-container{
        width: 90%;
    }
    .flex-prima-sezione{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 16px;
    }
    .flex-prima-sezione-bigcard a,
    .flex-prima-sezione-bigcard img{
        justify-content: flex-start;
        margin: unset;
        margin-top: 1rem;
    }
    .bigger-card{
        width: calc(60% + 1rem);
    }
    .smaller-card{
        width: 30%;
    }

    .main-container-full-section{
        width: 90%;
    }
    .cards-block{
        display: flex;
        text-align: left;
    }
    .w30{
        width: 30%;
    }
    .w-50{
        width: 100%;
    }
    .margin-auto-tablet{
        margin: auto;
    }

    .container-cards-flex{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
    }
    .container-cards-flex *{
        width: 40%;
        gap: 1rem;
    }
    .container-cards-flex h2,
    .container-cards-flex p{
    width: 100%;
    }
    .container-cards-flex a{
        text-align: center;
        color: white;
    }

    .flex-aboutus{
        display: flex;
    }
    .flex-aboutus .bigger-card{
        width: 60%;
    }
    .flex-aboutus .smaller-card{
        width: 40%;
    }
}

@media (min-width: 992px){
    nav{
        width: 70%;
        margin: auto;
    }
    .flex-only992px{
        display: flex;
        flex-direction: row;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .space-between{
        align-self: flex-end;
    }
    .main-container{
        width: 70%;
    }
    .main-container-full-section{
        width: 70%;
    }
    .cards-block{
        border-radius: 2rem;
    }

    .container-cards-item{
        width: 30%;
        gap: 1rem;
    }
}